/* BxSlider v4.1.2 */
.bx-wrapper{position:relative;zoom:1;margin:0 auto;padding:0}.bx-wrapper img{max-width:100%}.bx-wrapper .bx-viewport{-webkit-transform:translatez(0);-moz-transform:translatez(0);-ms-transform:translatez(0);-o-transform:translatez(0);transform:translatez(0)}.bx-wrapper .bx-controls-auto{position:absolute;bottom:-30px;width:100%;text-align:center}.bx-wrapper .bx-controls-auto .bx-controls-auto-item{zoom:1;display:inline}.bx-wrapper .bx-prev{background:url(../img/left3.png) no-repeat}.bx-wrapper .bx-next{background:url(../img/right3.png) no-repeat}.bx-wrapper .bx-controls-direction a{position:absolute;top:130px;outline:0;width:90px;height:90px;text-indent:-9999px;z-index:99}.bx-wrapper .bx-controls-direction a.disabled{display:none}

/* Backgrounds */
header {
	background: url(../img/bg2.jpg) no-repeat top center;
	padding-top: 100px;
}
.home header {
	background-image: url(../img/bg.jpg);
}
.gray {
	background-color: #f5f5f5;
	padding-top: 20px;
}
.blue {
	background-color: #384984;
	color: #ffffff;
}
.red {
	background-color: #a2344d;
	color: #ffffff;
}
.lightred {
	background-color: #ac3f58;
	color: #ffffff;
}
.lightblue {
	background-color: #42538f;
	color: #ffffff;
}
.lighterblue {
	background-color: #5569a4;
	margin-top: -460px;
	padding: 50px 100px;
}
.platynowi {
	background-color: #e9e5d9;
}
.zloci {
	background-color: #ece2b7;
}
.srebrni {
	background-color: #e1e1e1;
}
.brazowi {
	background-color: #d9c7a4;
}

/* General styles */
body {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 24px;
}
a, a:hover, a:focus {
	color: inherit;
}
p a, p a:hover, p a:focus {
	color: #a42a4b;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 40px;
	text-transform: uppercase;
}
h4 {
	font-size: 34px;
	text-transform: uppercase;
}
h1, h2, h3, h4 {
	margin-top: 0;
	margin-bottom: 40px;
	font-weight: bold;
}
header h1 {
	margin-top: 30px;
	margin-bottom: 10px;
	background: url(../img/confitura2.png) no-repeat center;
	height: 184px;
}
header h2 {
	margin-bottom: 28px;
}
article h4 {
	clear: both;
	color: #a42a4b;
	font-size: 30px;
	text-transform: none;
}
.white h4, .tab-pane h4 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.gray h4 {
	margin-top: 60px;
	margin-bottom: 30px;
}
.lighterblue h3 {
	margin-bottom: 20px;
}
.modal h4 {
	margin-top: 30px;
	margin-bottom: 20px;
}
.modal .lightblue h4 {
	text-transform: none;
}
.modal .lightblue .text-info {
	color: #fff;
	margin-bottom: 10px;
	font-size: 22px;
	font-style: italic;
	font-weight: bold;
}
.subtitle {
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 80px;
	text-align: center;
}
.modal-body {
	padding: 60px 30px;
}
.modal-body:first-child {
	padding-top: 30px;
}
.modal-body .img-circle {
	max-width: 100%;
	height: auto;
}
section, footer {
	padding-top: 80px;
	padding-bottom: 80px;
}
header iframe {
	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;
	padding-bottom: 4.7%;
	background: url(../img/glow.png) no-repeat center bottom / contain;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.btn-primary {
	margin-top: 40px;
	padding: 14px 30px 12px;
	background-color: #ae3655;
	border-color: #9b2847;
	border-width: 0 0 6px 0;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 36px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
	background-color: #c6647a;
	border-color: #c13e5b;
	outline: 0 none !important;
}
.btn-primary:active, .btn-primary.active {
	border-bottom-color: #c6647a;
}
.lightblue .btn-primary {
	background-color: #8ca5fa;
	border-color: #6b88e8;
}
.lightblue .btn-primary:hover, .lightblue .btn-primary:focus, .lightblue .btn-primary:active, .lightblue .btn-primary.active {
	background-color: #abbfff;
	border-color: #7595ff;
}
.lightblue .btn-primary:active, .lightblue .btn-primary.active {
	border-bottom-color: #abbfff;
}
.btn-lg {
	margin-bottom: 60px;
	padding: 16px 40px;
	font-size: 40px;
}
.btn-circle {
	padding: 6px 15px !important;
	-moz-border-radius: 50% !important;
	-webkit-border-radius: 50% !important;
	border-radius: 50% !important;
}
.btn-circle.active {
	padding: 5px 13px !important;
	background: none;
	border-width: 3px;
	color: #c5697e;
}
.navbar-default {
	background-color: #384984;
	border: none;
}
footer .navbar-default {
	background-color: transparent;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	float: left;
	margin: 0 0 0 40px;
	padding: 15px;
	border: none;
	background-color: transparent;
	color: #fff;
	font-size: 48px;
	font-weight: bold;
}
.navbar-default .navbar-collapse {
	border: none;
	max-height: none;
}
.navbar .nav > li > a {
	padding: 20px 0;
	border-top: 1px solid #8fa7fa;
	color: #fff !important;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	white-space: nowrap;
}
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
	color: #ccc !important;
	text-decoration: none;
	background-color: transparent;
}
footer .navbar .navbar-right {
	float: none !important;
}
footer .navbar .navbar-right > li > a {
	padding: 20px 7px;
	font-size: 12px;
}
footer .navbar .navbar-brand {
	display: block;
	float: none;
	margin: auto;
	width: 284px;
	height: 120px;
	background: url(../img/confitura-dol2.png) no-repeat;
}
.lang-switch {
	float: right;
	margin: 20px 10px;
}
.lang-switch a {
	margin-right: 40px;
}
.navbar-brand {
	padding: 0;
}
.social-icons {
	margin-bottom: 60px;
}
.img-responsive, .bx-logo-slider img {
	margin: auto;
}
.blue .img-responsive {
	margin-top: 60px;
	margin-bottom: -80px;
}
.text-right {
	text-align: center;
}
.bx-slider h4 {
	margin-top: 0;
	margin-bottom: 40px;
}
.bx-slider img {
	width: 350px;
	height: 350px;
	margin-bottom: 20px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.red .bx-wrapper, .lightred .bx-wrapper, .white .bx-wrapper {
	max-width: 350px !important; /* 1x350px image width */
}
.bx-wrapper .row {
	margin-left: 0;
	margin-right: 0;
}
.bx-wrapper .col-sm-4 {
	padding-left: 0;
	padding-right: 0;
}
.bx-wrapper a.bx-prev {
	left: -110px;
}
.bx-wrapper a.bx-next {
	right: -110px;
}
.close {
	width: 90px;
	height: 90px;
	background: url(../img/close2.png) no-repeat;
	opacity: 1;
}
#map {
	height: 460px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.aktualnosci article, .prezentacje article {
	margin-bottom: 60px;
	padding-bottom: 120px;
	background: url(../img/hr2.png) repeat-x bottom center;
}
.prezentacje article:last-child {
	margin-bottom: 0;
}
.post-day {
	float: left;
	margin-right: 10px;
	width: 40px;
	height: 40px;
	background: none;
	border: 3px solid #e4e4e4;
	line-height: 34px;
	text-align: center;
	color: inherit;
	-moz-border-radius: 50% !important;
	-webkit-border-radius: 50% !important;
	border-radius: 50% !important;
}
.post-date, .post-author {
	float: left;
	margin-right: 25px;
	margin-bottom: 20px;
	line-height: 19px;
	color: #384984;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}
.post-date small, .post-author small {
	font-size: 14px;
	text-transform: none;
	vertical-align: top;
}
.post-author {
	margin-top: -2px;
	color: #bfbfbf;
}
.post-buttons .btn {
	margin-left: 10px;
}
label {
	font-weight: normal;
}
.form-control, .form-control:focus {
	background: #d9e2ff;
	border: none;
	box-shadow: none;
	font-size: 16px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
}
input.form-control {
	height: 60px;
}
select.form-control {
	width: auto;
	height: 60px;
	padding: 18px;
}
.nav-tabs {
	float: none;
	display: inline-block;
	margin-bottom: -80px;
	border: none;
	vertical-align: bottom;
}
.nav-tabs > li {
	margin-bottom: 0;
}
.nav-tabs > li > a {
	padding: 15px 25px;
	margin-right: 0;
	border: none;
	border-radius: 0;
	background: #f5f5f5 no-repeat 20px center;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
	background-color: #f5f5f5;
	outline: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: inherit;
	border: none;
}
.nav-tabs .platynowi.active a {
	background-color: #e9e5d9 !important;
}
.nav-tabs .zloci.active a {
	background-color: #ece2b7 !important;
}
.nav-tabs .srebrni.active a {
	background-color: #e1e1e1 !important;
}
.nav-tabs .brazowi.active a {
	background-color: #d9c7a4 !important;
}
.tab-pane img {
	margin-top: 30px;
	margin-bottom: 20px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.table th, .table td {
	padding: 15px !important;
	border: none !important;
	font-weight: bold;
}
.table th {
	background-color: #ac3f58;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle !important;
	color: #fff;
}
.table th:first-child {
	background-color: transparent;
}
.table th small {
	text-transform: none;
	white-space: nowrap;
}
.table td:first-child, .table td[colspan] {
	background-color: #d9e2ff;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
}
.table tr:nth-child(even) td:first-child, .table tr:nth-child(odd) td[colspan] {
	background-color: #e6ecff;
}
.table a {
	color: #ac3f58;
}
.cookies {
	background: #f5f5f5;
}
.cookies .navbar-text {
	margin-top: 10px;
	margin-bottom: 10px;
	float: none;
	text-align: center;
}
.cookies .navbar-btn {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 20px;
}

/* Tablet styles */
@media (min-width:768px) {
	body {
		font-size: 16px;
	}
	h2 {
		font-size: 32px;
	}
	h3 {
		font-size: 30px;
	}
	h4 {
		font-size: 20px;
	}
	header {
		padding-top: 70px;
	}
	header h1 {
		margin-top: 0;
		background: url(../img/confitura.png) no-repeat left center;
		height: 108px;
	}
	header h2 {
		margin-top: 55px;
	}
	article h4 {
		font-size: 20px;
	}
	.modal h4 {
		margin-top: 0;
	}
	.subtitle {
		font-size: 17px;
		margin-bottom: 40px;
		text-align: left;
	}
	.text-right .subtitle {
		text-align: right;
	}
	.modal .lightblue .text-info {
		margin-bottom: 20px;
		font-size: 14px;
	}
	.modal-body .img-circle {
		width: 175px;
	}
	.navbar .nav > li > a {
		font-size: 12px;
		border-top: none;
	}
	.btn-primary {
		margin-top: 20px;
		padding: 7px 15px 6px;
		border-width: 0 0 3px 0;
		-moz-border-radius: 9px;
		-webkit-border-radius: 9px;
		border-radius: 9px;
		font-size: 18px;
	}
	.btn-lg {
		padding: 8px 20px;
		font-size: 24px;
	}
	.blue .img-responsive {
		margin-top: 0;
	}
	.text-right {
		text-align: right;
	}
	footer {
		padding-top: 130px;
		padding-bottom: 30px;
	}
	footer .navbar .navbar-brand {
		width: 127px;
		height: 53px;
		background-image: url(../img/confitura-dol.png);
	}
	.red .bx-wrapper, .lightred .bx-wrapper, .white .bx-wrapper {
		max-width: 625px !important; /* 3x175px image width */
	}
	.bx-wrapper a.bx-prev {
		top: 66px;
		left: -66px;
		width: 46px;
		height: 46px;
		background-image: url(../img/left.png);
	}
	.bx-wrapper a.bx-next {
		top: 66px;
		right: -66px;
		width: 46px;
		height: 46px;
		background-image: url(../img/right.png);
	}
	.bx-slider img {
		width: 175px;
		height: 175px;
	}
	.close {
		width: 40px;
		height: 40px;
		background-image: url(../img/close.png);
	}
	.aktualnosci article, .prezentacje article {
		padding-bottom: 80px;
		background-image: url(../img/hr.png);
	}
	.nav-tabs > li > a {
		padding: 15px 25px 15px 60px;
		font-size: 18px;
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		background-image: url(../img/tab-akt.png);
	}
	.nav-tabs .platynowi a {
		background-image: url(../img/tab-platynowi.png);
	}
	.nav-tabs .zloci a {
		background-image: url(../img/tab-zloci.png);
	}
	.nav-tabs .srebrni a {
		background-image: url(../img/tab-srebrni.png);
	}
	.nav-tabs .brazowi a {
		background-image: url(../img/tab-brazowi.png);
	}
}

/* Desktop styles */
@media (min-width:992px) {
	.blue .img-responsive {
		margin-top: -40px;
	}
	.lighterblue {
		margin-top: 0;
	}
	.lightblue .img-responsive {
		margin-top: -55px;
		margin-bottom: -220px;
	}
	footer {
		padding-top: 90px;
		padding-bottom: 20px;
	}
	footer .navbar .navbar-right {
		float: right !important;
		margin-top: 5px;
	}
	footer .navbar .navbar-brand {
		float: left;
	}
	.red .bx-wrapper, .lightred .bx-wrapper, .white .bx-wrapper {
		max-width: 850px !important; /* 4x175px image width */
	}
}

/* Wide desktop styles */
@media (min-width:1200px) {
	.navbar .nav > li > a {
		font-size: 16px;
	}
	footer .navbar .navbar-right {
		margin-right: 140px;
	}
	.bx-wrapper a.bx-prev {
		left: -106px;
	}
	.bx-wrapper a.bx-next {
		right: -106px;
	}
}